<!-- Written by Brandon Hong -->
<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>OpenEd</title>

    </head>
    <body data-spy="scroll" data-target="#navbarResponsive">
      <header>

        <!-- The navbar will be rendered here by the layout/application.html.erb file -->

        <!-- TAB SECTION -->
        <div id="tab" class="text-center">
            <ul class="nav nav-tabs">
                <li class="sect-mentor"><a class="nav-item nav-link active" data-toggle="tab" role="tab" href="#profile">Profile</a></li>
                <!-- if this is not the mentor's account, do not show this option -->
                <% if current_user.isMentor %>
                  <li class="sect-mentor"><a class="nav-item nav-link" data-toggle="tab" role="tab" href="#students">My Students</a></li>
                <% end %>
            </ul>
            
            <!-- TAB CONTENT -->
            <div class="tab-content">

                <!-- MENTOR PROFILE TAB -->
                <div id="profile" class="tab-pane active">

                  <div class="row">
                    <div class="container text-center">
                      <h1><%= @mentor.fullname %>'s Mentor Profile</h1>
                    </div>
                  </div>

                  <!-- Account details -->
                  <div class="container text-center">
                    <div class="row">
                      <h5>
                        <strong>Name: </strong>
                        <%= @mentor.fullname %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Email: </strong>
                        <%= @email %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>College: </strong>
                        <%= @mentor.collegeName %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Year: </strong>
                          <%= @mentor.collegeYear %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Major: </strong>
                        <%= @mentor.major %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Specilize in teaching: </strong>
                        <%= @mentor.specialty %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Bio: </strong>
                        <%= @mentor.bio %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Hourly Wage: </strong>
                        $<%= @mentor.hourlyWage %>0 per hour
                      </h5>
                    </div>
                    <% if current_user.isMentor %>
                      <div class="row">
                        <%= link_to 'Edit Profile', edit_mentor_path(@mentor), :class => "btn btn-outline-dark"%>
                      </div>
                    <% else %>
                      <div class="row">
                        <%= link_to 'Start Chat', new_chat_path(mentor: @mentor.id), :class => "btn btn-outline-dark"%>
                      </div>
                    <% end %>
                  </div>
                </div>
  
                <!-- STUDENTS TAB -->
                <div id="students" class="tab-pane">
                  <h1>My Students</h1>
                  <!-- Loop through chats and display each one -->
                  <% for conversation in @mentor.chats %>
                    <div class="row">
                      <h5>Conversation with <%= link_to conversation.studentName, student_path(conversation.student_id) %></h5>
                      <%= link_to 'Show', chat_path(conversation.id), :class => 'btn btn-outline-dark' %>
                    </div>
                  <% end %>
                </div>  <!-- END STUDENTS TAB -->
            </div>

        </div>   
        <!-- END TAB SECTION -->
      </header>

      

      <footer>
        <div class="container">
          <p>Brandon Hong - Copyright &copy; 2019</p>
        </div>
      </footer>
    </body>
  </html>