<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>OpenEd</title>

    </head>
    <body data-spy="scroll" data-target="#navbarResponsive">
      <header>

        <!-- The navbar will be rendered here by the layout/application.html.erb file -->

        <!-- TAB SECTION -->
        <div id="tab" class="text-center">
            <ul class="nav nav-tabs">
                <li class="sect"><a class="nav-item nav-link" data-toggle="tab" role="tab" href="#profile">Profile</a></li>
                <li class="sect"><a class="nav-item nav-link active" data-toggle="tab" role="tab" href="#search">Search Mentors</a></li>
                <li class="sect"><a class="nav-item nav-link" data-toggle="tab" role="tab" href="#recommended">Recommended Mentors</a></li>
                <li class="sect"><a class="nav-item nav-link" data-toggle="tab" role="tab" href="#myMentors">My Mentors</a></li>
            </ul>
            
            <div class="tab-content">
                <!-- PROFILE TAB -->
                <div id="profile" class="tab-pane">

                  <div class="row">
                    <div class="container text-center">
                      <h1><%= current_user.student.name %>'s Student Profile</h1>
                    </div>
                  </div>

                  <!-- Account details -->
                  <div class="container text-center">
                    <div class="row">
                      <h5>
                        <strong>Name: </strong>
                        <%= current_user.student.name %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Email: </strong>
                        <%= current_user.email %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Location: </strong>
                        <%= current_user.student.location %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Budget: </strong>
                        $<%= current_user.student.budget %>0 per lesson
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Weakest Subject: </strong>
                        <%= current_user.student.weakestSubject %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Favorite Subject: </strong>
                        <%= current_user.student.favoriteSubject %>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <strong>Bio: </strong>
                        <%= current_user.student.bio %>
                      </h5>
                    </div>
                    <div class="row">
                      <%= link_to 'Edit Profile', edit_student_path(@student), :class => "btn btn-outline-light btn-lg"%>
                    </div>
                  </div>

                </div>

                <!-- SEARCH TAB -->
                <div id="search" class="tab-pane active">

                  <div class="row">
                    <div class="container text-center">
                      <h1>Search For A Mentor</h1>
                    </div>
                  </div>
                  
                  <div class="container">
                    <div class="row">
                      <%= form_tag student_path(current_user.student.id), :class => "search-form", method: :get do %>
                          <%= text_field_tag :query, params[:query], :class => "search-bar" %>
                          <%= submit_tag "Search", name: nil, :class => "btn btn-outline-dark" %>
                          <%= link_to 'View All', student_path(current_user.student.id), :class => "btn btn-outline-dark" %>
                      <% end %>
                    </div>

                    <%= will_paginate @mentors %> <br />

                    <div class="search-container">
                      <% for mentor in @mentors %>
                        <div class="row">
                          <h5><%= link_to mentor.fullname, mentor_path(mentor.id), :class => "mentor-profile-link" %></h5>
                        </div>
                        <div class="row">
                          <%= mentor.specialty %> Tutor | $<%= mentor.hourlyWage %>0 per hour | <%= mentor.collegeName %> <%= mentor.collegeYear%>
                            | <%= mentor.major %> Major
                        </div>
                        <br />
                        <br />
                      <% end %>
                    </div>
                    <%= will_paginate @mentors, params: {active_tab: 'search'} %>
                  </div>

                </div>

                <!-- RECOMMENDED TAB -->
                <div id="recommended" class="tab-pane">

                </div>

                <!-- MY MENTORS TAB -->
                <div id="myMentors" class="tab-pane">

                </div>
            </div>

        </div>   
        <!-- END TAB SECTION -->
      </header>

      <footer>
        <div class="container">
          <p>Brandon Hong - Copyright &copy; 2019</p>
        </div>
      </footer>
    
    </body>
  </html>