<!DOCTYPE html>
<html>
  <head>
    <title>OpenEd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- General css and js dependencies -->
    <%= stylesheet_link_tag 'bootstrap.min.css' %>      <!-- bootstrap is used for html styling -->
    <%= stylesheet_link_tag 'style.css' %>              <!-- my app-wide style sheet -->
    <%= javascript_include_tag 'bootstrap.min.js' %>    <!-- bootstrap javascript dependency -->
    <%= javascript_include_tag 'jquery-3.3.1.min.js' %>

    <!-- NAVBAR SECTION -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          
          <h2 class="navbar-brand"><%= link_to 'OpenEd', root_path(:user => @user), :style => 'color: white' %></h2>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <span class="navbar-nav mr-auto">       <!-- This is a spacer to move dropdown menu to the right -->
            </span>
            <ul class="navbar-nav">

                <!-- IF a user is logged in, render the user menu -->
                <% if current_user %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= current_user.email %>
                      
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <!-- if the current user is a mentor account, render a link to the MENTOR PROFILE PAGE -->
                        <% if current_user.isMentor && current_user.mentor %>
                        <%= link_to 'Dashboard', mentor_path(current_user.mentor.id) , :class => "dropdown-item" %>
                        <!-- elsif the current user is a STUDENT ACCOUNT, render a link to the STUDENT PROFILE PAGE -->
                        <% elsif current_user.student %>
                        <%= link_to 'Dashboard', student_path(current_user.student.id) , :class => "dropdown-item" %>
                        <% end %>
                        <!-- IF no user is signed in, do NOT show a link to any profile page -->
                    </div>
                </li>
                <% else %>
                <% end %>

                <!-- IF a user is logged in, show the logout button -->
                <% if current_user %>
                <li class="nav-item">
                    <%= link_to 'Logout', destroy_user_session_path , :class => "nav-link", method: :delete %>
                </li>
                <!-- ELSE, show the login and register buttons -->
                <% else %>
                <li class="nav-item">
                    <%= link_to 'Login', new_user_session_path , :class => "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Register', new_user_registration_path , :class => "nav-link" %>
                </li>
                <% end %>
            </ul>
          </div>
        </nav>
        <!-- END NAVBAR SECTION -->
  </head>

  <body>
   
    <%= yield %> 
    <!-- <%= render 'layouts/alerts' %> -->
  </body>
</html>

